<div class="grid-list">

    {% for image in collections.featured %}
        <a href="{{image.url}}" class="image-card--small" id="img_small">
            <img class="image-small" id="change_image" src="{{image.data.image}}">
                <div class="profile">
                  <img class="avatar" src="{{image.data.authorPhoto}}">
                  <h3 class="nickname">{{image.data.authorName}}</h3>
                </div>
        </a>
    {% endfor %}

</div>