<section class="slider swiper">

  <div class="slider-items swiper-wrapper">
    {% for image in collections.featured %}
    <a href="{{image.url}}" class="image-card--large swiper-slide" id="img_large">
      <img class="backgr-image image-small--reality" id="change_image" src="{{image.data.image}}"/>
      <img class="backgr-image image-small--fantasy hidden-image" id="change_image" src="{{image.data.imageFantasy}}">
      <div class="user">
        <img class="user-image" src="{{image.data.authorPhoto}}"/>
        <p class="username">{{image.data.authorName}}</p>
        <div class="em emotion hidden-emotes">
            <p class="feeling">{{staticTexts.sliderFeeling}}</p>
            <p class="emote">{{image.data.emotion}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>

</section>
