<section class="slider">
    <div class="slider-items">
        {%if container == 'recentlyAdded'%}
            {% set tag = collections.recentlyAdded %} 
        {%elseif container == 'galleryFollowed'%}
            {% set tag = collections.authorsFollowed %}
        {%endif%}

        {% for image in tag %}
        <a href="{{image.url}}" class="image-card--large" id="img_large">
        <img class="backgr-image image-small--reality" id="change_image" src="{{image.data.image}}"/>
        <img class="backgr-image image-small--fantasy hidden-image" id="change_image" src="{{image.data.imageFantasy}}">
        <div class="user">
            <img class="user-image" src="{{image.data.authorPhoto}}"/>
            <p class="username">{{image.data.authorName}}</p>
            <p class="feeling">{{staticTexts.sliderFeeling}}</p>
            <p class="emote">{{image.data.emotion}}</p>
        </div>
        </a>
        {% endfor %}
    </div>
</section>