.authors-text {
    margin: 0px 76px;
}

.authors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    justify-content: center;
    justify-items: center;
}

.author-card {
    display: grid;
    width: 320px;
    height: 600px;
    background-color: #3A3636;
    border-radius: 15px;
    justify-content: center;
    justify-items: center;
}

.author-avatar {
    margin-top: 30px;
    width: 256px;
    height: 256px;
    border-radius: 128px;
}

.author-nickname {
    font-size: 38px;
}

.author-description {
    margin: 0px 10px;
    font-size: 18px;
}