.image-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 64px;
    margin-bottom: 100px;
    gap: 83px;
    align-content: start;
}

.pic-image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    align-self: center;
    position: relative;
}

.page-image {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
    height: 1fr;
    align-self: center;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.image-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pic-author {
    display: grid;
    grid-template-rows: 72px 50px 24px;
    gap: 10px;
}

.user-avatar {
    width: 72px;
    height: auto;
    border-radius: 36px;
}

.pic-nickname {
    font-size: 40px;
}

.signature {
    font-size: 12px;
    margin-top: 10px;
}

.img-about {
    font-family: 'Plaid Mono';
    margin-top: 62px;
    font-size: 18px;
}

.oth-photo {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 36px;
}

.switch-section-m {
    display: none;
}

/*да.*/


/*
header, section, footer {
  border: 1px solid pink;
}

div {
  border: 1px solid aquamarine;
}
*/
