---
eleventyComputed:
    title: 'Сортавала – авторы'
layout: page.njk
permalink: 'authors.html'

---

 {% include 'header.njk' %}

  <section class="authors-content">
        <p class="authors-text"></p>
        <div class="authors-grid">
        {% for author in collections.authors %}
            <div class="author-card">
               <div align="center">
               <img class="author-avatar" src="{{author.data.authorPhoto}}">
                <p class="author-nickname">{{author.data.authorName}}</p>
                </div>
                <div class="author-description">{{author.templateContent | safe}}</div>
            </div>
        {% endfor %}
        </div>
      </section>

    <footer class="footer">
        <p class="footer-description left-text">{{staticTexts.footerDescription}}</p>
        <p class="desc_text_m">{{staticTexts.mainWebsiteDescription}}</p>
        <p class="copyright center-text">{{staticTexts.copyright}}</p>
      </footer>
