---
eleventyComputed:
  title: '{% if pagination.pageNumber > 0 %}Page {{ pagination.pageNumber + 1 }}{% else %}{{ data.title }}{% endif %}'
layout: page.njk
permalink: '{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
pagination:
  data: collections.posts
  size: 3
  reverse: true
---

  {% include 'header.njk' %}

      <div class="description">
        <p class="desc_text">{{staticTexts.mainWebsiteDescription}}</p>
      </div>

      {% include 'slider.njk' %}

      <div class="switch-section-m">
        <span class="oth_img">{{staticTexts.imagineModOn}}</span>
        <label class="switch-checkbox-3">
          <input type="checkbox" id="switch-3" class="checkbox" onclick="test_3()"/>
          <label for="switch-3" class="toggle">
        </label>
      </div>

      <section class="headline">
        <p class="headline-text">{{staticTexts.indexHeadlineText}}</p>
        <p class="subheadline-text">{{staticTexts.indexSubheadlineText}}</p>
      </section>
    <section class="grid">
        <div class="grid-heading">
            <p class="tumbler-text">{{staticTexts.imagineModOn}}</p>
            <label class="switch-checkbox-2">
              <input type="checkbox" id="switch-2" class="checkbox-2" onclick="test_2()"/>
              <label for="switch-2" class="toggle-2"/>
            </label>
          </div>

         {% include 'grid-list.njk' %}
    </section>

    <footer class="footer">
        <p class="footer-description left-text">{{staticTexts.footerDescription}}</p>
        <p class="desc_text_m">{{staticTexts.mainWebsiteDescription}}</p>
        <p class="copyright center-text">{{staticTexts.copyright}}</p>
      </footer>

