@media screen and (max-width: 900px) {
        
    .header {
        min-height: 100px;
        grid-template-columns: 1fr 1fr;
        padding: 20px 10px 0px 10px;
    }

    .desc_text {
        font-size: 14px;
        padding-left: 22px;
    }

    .slider {
        min-height: 300px;
    }

    .user-image {
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }

    .username {
        font-size: 14px;
        max-width: 80px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .feeling {
        font-size: 12px;
    }

    .emote {
        font-size: 14px;
    }
    
    .image-card--large {
        width: 300px;
        min-width: 300px;
        height: 300px;
    }

    .backgr-image {
        width: 100%;
        height: 100%;
        border-radius: 3%;
    }
    
    .headline {
        box-sizing: border-box;
        padding: 30px 22px 30px 22px;
    }

    .headline-text {
        max-width: 90%;
        font-size: 24px;
    }
    
    .subheadline-text {
        font-size: 16px;
        max-width: 70%;
    }
    
    .grid {
        padding: 0 22px;
    }

    .tumbler-text {
    opacity: .8;
    margin-left: 0px;
    }

    .grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 9px;
    }

    .image-card--small:hover {
    transform: scale(1.005);
    }

    .nickname {
        font-size: 12px;
    }

    .footer {
        display: flex;
        gap: 60px;
        align-items: start;
        flex-direction: column;
        margin-top: 120px;
        padding: 0 22px 60px 22px;

    }
      
    .desc_text_m {
        display: table;
      }


    .switch-checkbox-2 {
        margin-bottom: 0px;
      }  
      
    .switch-section-m {
        margin-top: 30px;
        padding-left: 22px;
        display: table;
    }
      
}

@media screen and (max-width: 421px) {
    .grid-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 9px;
    }
}