---
layout: page.njk
---

{% include 'header.njk' %}

    <section class="image-section">
      <div class="switch-section-m">
        <span class="oth_img">{{staticTexts.imagineModSwitch}}</span>
        <label class="switch-checkbox">
            <input type="checkbox" id="switch" class="checkbox" onclick="test()"/>
            <label for="switch" class="toggle">
        </label>
      </div>

      <div class="pic-image">
          <img src="{{image}}" class="page-image"/>
      </div>
      <div class="image-info">
          <div class="switch-section">
              <span class="oth_img">{{staticTexts.imagineModSwitch}}</span>
              <label class="switch-checkbox">
                  <input type="checkbox" id="switch" class="checkbox" onclick="test()"/>
                  <label for="switch" class="toggle">
              </label>
          </div>

      <div class="test">
        <div class="pic-author">
          <div class="pic-avatar">
              <img src="{{authorPhoto}}" class="user-avatar">
          </div>
          <div class="mobile-orientation">
              <div class="pic-nickname">{{authorName}}</div>
              <div class="signature">{{description}}</div>
          </div>
      </div>
      <div class="img-about">
        {{content | safe}}
      </div>
      </div>
    </div>
    </section>

    <section class="grid">
        <p class="oth-photo">{{staticTexts.otherPictures}}</p>
        <div class="grid-list">
            <a href="#" class="image-card--small">
                <img class="image-small" id="change_image" src="./images/kakPushistik.png">
                <div class="profile">
                    <img class="avatar" src="./images/avatar.jpg">

                    <h3 class="nickname">KakPushistik</h3>
                </div>
            </a>
            <a href="#" class="image-card--small">
                <img class="image-small" id="change_image" src="./images/kakPushistik.png">
                <div class="profile">
                <img class="avatar" src="./images/avatar.jpg">
                <h3 class="nickname">KakPushistik</h3>
                </div>
            </a>
            <a href="#" class="image-card--small">
                <img class="image-small" id="change_image" src="./images/kakPushistik.png">
                <div class="profile">
                <img class="avatar" src="./images/avatar.jpg">
                <h3 class="nickname">KakPushistik</h3>
                </div>
            </a>
            <a href="#" class="image-card--small">
                <img class="image-small" id="change_image" src="./images/kakPushistik.png">
                <div class="profile">
                <img class="avatar" src="./images/avatar.jpg">
                <h3 class="nickname">KakPushistik</h3>
                </div>
            </a>
            <a href="#" class="image-card--small">
                <img class="image-small" id="change_image" src="./images/kakPushistik.png">
                <div class="profile">
                <img class="avatar" src="./images/avatar.jpg">
                <h3 class="nickname">KakPushistik</h3>
                </div>
            </a>
            <a href="#" class="image-card--small">
                <img class="image-small" id="change_image" src="./images/kakPushistik.png">
                <div class="profile">
                <img class="avatar" src="./images/avatar.jpg">
                <h3 class="nickname">KakPushistik</h3>
                </div>
            </a>
            <a href="#" class="image-card--small">
                <img class="image-small" id="change_image" src="./images/kakPushistik.png">
                <div class="profile">
                <img class="avatar" src="./images/avatar.jpg">
                <h3 class="nickname">KakPushistik</h3>
                </div>
            </a>
        </div>
    </section>

    <footer class="footer">
        <!-- Поменял разметку, можно обойтись без div -->
        <p class="footer-description left-text">{{staticTexts.footerDescription}}</p>
        <p class="desc_text_m">{{staticTexts.mainWebsiteDescription}}</p>
        <p class="copyright center-text">{{staticTexts.copyright}}</p>
      </footer>
