---
layout: page.njk
---

{% include 'header.njk' %}

    <section class="image-section">
      <div class="switch-section-m">
        <span class="oth_img">{{staticTexts.imagineModSwitch}}</span>
        <label class="switch-checkbox">
            <input type="checkbox" id="switch-3" class="checkbox"/>
            <label for="switch-3" class="toggle">
        </label>
      </div>

      <div class="pic-image">
          <img src="{{image}}" class="page-image page-image--real"/>
          <img src="{{imageFantasy}}" class="page-image page-image--fantasy hidden-image"/>
      </div>
      <div class="image-info">
          <div class="switch-section">
              <span class="oth_img">{{staticTexts.imagineModSwitch}}</span>
              <label class="switch-checkbox">
                  <input type="checkbox" id="switch-detail" class="checkbox"/>
                  <label for="switch-detail" class="toggle">
              </label>
          </div>

      <div class="test">
        <div class="pic-author">
          <div class="pic-avatar">
              <img src="{{authorPhoto}}" class="user-avatar">
          </div>
          <div class="mobile-orientation">
              <div class="pic-nickname">{{authorName}}</div>
              <div class="signature">{{description}}</div>
          </div>
      </div>
        <div class="img-about">
          {{content | safe}}
        </div>
      </div>
    </div>
    </section>

    <section class="grid">
        <p class="oth-photo">{{staticTexts.otherPictures}}</p>
        {% include 'grid-list.njk' %}
    </section>

    <footer class="footer">
        <!-- Поменял разметку, можно обойтись без div -->
        <p class="footer-description left-text">{{staticTexts.footerDescription | safe}}</p>
        <p class="desc_text_m">{{staticTexts.mainWebsiteDescription | safe}}</p>
        <p class="copyright center-text">{{staticTexts.copyright | safe}}</p>
      </footer>
