@media screen and (max-width: 900px) {

    .gallery-text {
        margin: 0px 22px;
        font-size: 14px;
        margin-bottom: 42px;
    }
    
    .recently-added {
        margin-bottom: 70px;
    }
    
    .r-a-text, .g-f-text {
        margin: 0px 22px;
        margin-bottom: 22px;
        font-size: 18px;
    }
    
    .gallery-followed {
        margin-bottom: 70px;
    }
    
    .gallery-content {
        margin: 0px 22px;
    }
    
    .g-c-text {
        margin-bottom: 22px;
        font-size: 18px;
    }

    .slider {
        min-height: 300px;
    }
    
    .image-card--large {
        min-width: 300px;
        height: 300px;
    }

    .switch-section-m {
        justify-items: center;
        justify-content: center;
        display: flex;
        padding: 0;
        margin-bottom: 20px;
    }

    .toggle {
        top: -10px;
    }

    .grid-list {
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }

    .username {
        font-size: 14px;
        max-width: 90px;
    }

}

@media screen and (max-width: 421px) {
    .grid-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        gap: 9px;
    }
}